/* @theme hideba */

@import 'uncover';

* {
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --color-background: #f9f9f9;
  --color-text: #333;
  --color-primary: #6449D6;
  --color-secondary: #F5AA00;
  --color-tertiary: #7CA12B;
}


html {
  font-size: 16px;
}

h1 {
  font-size: 1.rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.0rem;
}

h4 {
  font-size: 0.9rem;
}

h2, h3, h4, h5, p, a, div {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

ul, ol, p, table, a, div {
  font-size: 0.7rem;
}

table {
  font-size: 0.4rem;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}


section.columns > ul {
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  list-style: none;
  gap: 1em;
}

section.columns > ul > li {
  flex: 1;
  margin: 0;
}

/*
.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
    gap: 0.5rem;
}

.grid img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.index ul {
  font-size: 0.5rem;
}

.logo {
  width: 300px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}

.header-grid img {
  width: 200px;
  height: auto;
} */