/* @theme hideba */

@import 'uncover';

* {
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --color-background: #f9f9f9;
  --color-text: #333;
  --color-primary: #6449D6;
  --color-secondary: #F5AA00;
  --color-tertiary: #7CA12B;
  --color-background-paginate: #8873e4;
  --color-highlight: #F5AA00;
}


html {
  font-size: 16px;
}

h1 {
  font-size: 1.rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.0rem;
}

h4 {
  font-size: 0.9rem;
}

h2, h3, h4, h5, p, a, div {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

ul, ol, p, table, div {
  font-size: 0.7rem;
}

table {
  font-size: 0.4rem;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

em, i {
  font-size: 0.8em;
}

a {
  font-size: 0.7em;
}


section.columns > ul {
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  list-style: none;
  gap: 1em;
}



section.columns > ul > li {
  flex: 1;
  margin: 0;
}


section.center  p, div, img{
  display: flex;
  justify-content: center;
  align-items: center;
}
